{% extends "mainpage.html" %}
{% block content %}
<div class="contact">
  <h1 class="contact-head">Kontakt</h1>
  <div class="contact-body">
    <h2>Anfragen</h2>
    <p>Wenn du in Kontakt mit uns treten möchtest, schreibe uns bitte eine E-Mail an example.example@bla.de.</br>
      Für Löschanfragen bitte die exakte Adresse (URL), sowie ausreichende Beweise angeben, dass Du der Urheber des Bildes bist oder in seinem Auftrag handelst.</br>
      Als Uploader des Bildes musst Du keine Beweise vorlegen. Dasselbe gilt, wenn Du in einem Bild zu sehen bist, und nicht damit einverstanden sein solltest.</p>
  </div>
</div>
{% endblock %}